<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
  <div class="X">
    <h2 style="padding: 30px;"><%- title -%></h2>
    <img style="margin-bottom: 10pt;" src="./pictures/planets.png">
    <p style="text-align: center;"> <%- content -%> </p>
  </div>
    <%- include('./partials/footer.ejs') -%>
  </body>
</html>
