<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') -%>
    <body>
        <%- include('./partials/nav.ejs') -%>
        <div class="X">
            <% for (const planet of data) { %>
                <h5 style="text-align: left; margin-left: 50pt;">
                    <%- planet._id  -%>, <%- planet.name  -%>, color: <%- planet.color  -%>, size: <%- planet.size  -%>
                </h5>
            <% } %>
        </div>
        <br>
        <form style="padding: 20px; display: inline-block;"
            name="formplanet" method="POST" action="/planets/post">
        <h3 style="text-align: left;">Add new planet</h3>
        <table>
            <tr><td>Name</td>
            <td><input type="text" name="name" ></td>
            </tr>
            <tr><td>Color</td>
            <td><input type="text" name="color" ></td>
            </tr>
            <tr><td>Size</td>
            <td><input type="number" name="size" ></td>
            </tr>
            <tr><td colspan="2"><input style="margin-top: 10px;"
                type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>
        <br>
        <form style="padding: 20px; display: inline-block;"
            name="formplanet" method="POST" action="/planets/put">
        <h3 style="text-align: left;">Update a planet</h3>
        <table>
            <tr><td>ID</td>
            <td><input type="text" name="id" ></td>
            </tr>
            <tr><td>Name</td>
            <td><input type="text" name="name" ></td>
            </tr>
            <tr><td>Color</td>
            <td><input type="text" name="color" ></td>
            </tr>
            <tr><td>Size</td>
            <td><input type="number" name="size" ></td>
            </tr>
            <tr><td colspan="2"><input style="margin-top: 10px;"
                type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>
        <br>
        <form style="padding: 20px; display: inline-block;"
            name="formplanet" method="POST" action="/planets/delete">
        <h3 style="text-align: left;">Delete a planet</h3>
        <table>
            <tr><td>ID</td>
            <td><input type="text" name="id" ></td>
            </tr>
            <tr><td colspan="2"><input style="margin-top: 10px;"
                type="submit" value="Save" ></td>
            </tr>
        </table>
        </form>
        <%- include('./partials/footer.ejs') -%>
    </body>
</html>
