<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') -%>
    <body>
        <%- include('./partials/nav.ejs') -%>
        <div class="X">
            
        </div>
        <%- include('./partials/footer.ejs') -%>
    </body>
</html>
