<h1> Login </h1>
<form action="/login" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">username: </label>
            </td>
            <td>
                <input name="username" placeholder="enter username"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">password: </label>
            </td>
            <td>
                <input type="password" name="password" placeholder="enter password"/>
            </td>
        </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <br><br><br>
    For testing, type "admin" as username and "admin" as password.
</form>