<html>
    <h1>Welcome!</h1>
    <h2>Username: <%- data -%> </h2>
    <br> <br>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-primary btn-block">Logout</button>
    </form>
</html>